<footer id="footer" class="section">
	<div class="container">
		<p class="copyright pull-left">&copy; 2014. The Develovers. All Rights Reserved.</p>
		<ul class="list-inline pull-right social-icon">
			<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>
</footer>