<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">
				<%= image_tag "loop-logo.png", :alt => "Sean" %>
				<h1 class="hide">Parallax HTML One-Page Template</h1>
			</a>
		</div>
		<nav class="navbar-collapse collapse" id="main-nav" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#top">HOME</a></li>
				<li><a href="#about">ABOUT US</a></li>
				<li><a href="#services">SERVICES</a></li>
				<li><a href="#works">OUR WORKS</a></li>
				<li><a href="#team">TEAM</a></li>
				<li><a href="#contact">CONTACT US</a></li>
			</ul>
		</nav>
	</div>
</div>